<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/fix/header.css}">
    <link rel="stylesheet" th:href="@{/css/fix/footer.css}">
    <link rel="stylesheet" th:href="@{/css/notice/notice.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>
<body>
    <!--  헤더  -->
    <div th:insert="~{fix/header :: header}"></div>

    <!-- 헤더와 바디 사이 공간 -->
    <div class="container-divider"></div>

    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="공지사항">
                    <a href="">공지사항</a>
                </li>
                <li title="전체 공지">
                    <a th:href="@{/notice/main}">전체 공지</a>
                </li>
            </ol>
        </nav>
        <div class="section-container">
            <section class="section-content">
                <header class="page-header">
                    <h1>
                        <div class="page-title">전체공지</div>
                    </h1>
                </header>

                    <ul class="article-list">
                        <th:block th:each="notice: ${notices}">
                            <li class="article-list-item">
                                <a th:href="@{/notice/recent(noticeNumber=${notice.noticeNumber})}" class="article-list-link" th:text="${notice.noticeTitle}"></a>
                            </li>
                        </th:block>
                    </ul>
<!--                개인정보처리방침 개정 안내 (2021.11.19)-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">개인정보처리방침 개정 안내 (2021.10.29)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">[업데이트] 모바일앱 기능 업데이트 (2021.07.26)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">[업데이트] iOS 앱 v13.0 서비스 종료 (2021.05.31)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">개인정보처리방침 개정 안내 (2021.06.01)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">서비스 이용약관 개정 안내 (2021.06.01)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">메시지 알림 보관 기간이 변경됩니다.</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">전문가 프로필 화면이 업데이트 되었습니다.</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">[업데이트] iOS 앱 v5.5.0 / 안드로이드 앱 v5.2.15 (2020.09.28)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">서비스 검색 기능이 업데이트 되었습니다.</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">개인정보처리방침 변경 안내</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">적립 캐시의 유효기간 변경 안내</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">[업데이트] iOS 앱 v10.x 서비스 종료 (2019.12.09)</a>-->
<!--                    </li>-->
<!--                    <li class="article-list-item">-->
<!--                        <a href="" class="article-list-link">크몽을 통하지 않은 직접 결제에 대한 조치가 강화됩니다.</a>-->
<!--                    </li>-->
            </section>
        </div>
    </div>
    <!-- 푸터 필요 -->
    <div th:insert="~{/fix/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>