<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세보기</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/fix/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/fix/footer.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/notice/notice.css">
</head>
<body>
    <!-- 헤더 추가 필요 -->
    <div class="css-header header">
        <div class="css-header-main">
            <!-- 로고 -->
            <a href="" class="css-logo">
                <div class="css-logo-img">
                    <img src="../main/img/header_logo.png" alt="">
                </div>
            </a>
            <div style="flex-grow: 1;"></div>
            <!-- 검색바 -->
            <form action="" class="css-search">
                <div class="css-input-wrapper" id="inputWrapper">
                    <input class="css-input" id="input"
                    placeholder="서비스, 전문가를 검색해 보세요" maxlength="15"
                    autocomplete="off" autocorrect="off" 
                    autocapitalize="off" type="text">
                    <div class="suffix-wrapper">
                        <span role="img" rotate="0" class="css-aah4od e181xm9y1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                <path xmlns="http://www.w3.org/2000/svg" 
                                d="M11.2307008,3.5 C15.5002489,3.5 18.9614015,6.96828437 18.9614015,11.24663 C18.9614015,13.0978372 18.3133954,14.7973826 17.2322825,16.1299241 L20.2742127,19.178378 C20.5762688,19.4810023 20.5764739,19.9714482 20.2746708,20.2738195 C19.9728678,20.5761908 19.4833433,20.5759857 19.1812873,20.2733614 L19.1812873,20.2733614 L16.1426973,17.2288066 C14.8071694,18.3312107 13.0960911,18.9932599 11.2307008,18.9932599 C6.96115262,18.9932599 3.5,15.5249756 3.5,11.24663 C3.5,6.96828437 6.96115262,3.5 11.2307008,3.5 Z M11.2307008,5.04932599 C7.81506225,5.04932599 5.04614015,7.82395349 5.04614015,11.24663 C5.04614015,14.6693064 7.81506225,17.4439339 11.2307008,17.4439339 C14.6463393,17.4439339 17.4152614,14.6693064 17.4152614,11.24663 C17.4152614,7.82395349 14.6463393,5.04932599 11.2307008,5.04932599 Z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </div>
            </form>
            <!-- 버튼 -->
            <div class="css-buttons">
                <button class="css-button" id="button-top">
                    <span>결제하기</span>
                </button>
                <button class="css-button" id="button-top">
                    <span>로그인</span>
                </button>
                <button class="css-button" id="button-join">
                    <span>무료 회원가입</span>
                </button>
            </div>
        </div>
        <!-- 카테고리 -->
        <div class="css-category category">
            <div class="css-category-main">
                <div class="css-categoryAll-wrapper">
                    <button class="css-category-button">
                        <span role="img" rotate="0">
                            <svg width="30" height="30" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                <path xmlns="http://www.w3.org/2000/svg" d="M19,17 C19.5522847,17 20,17.4477153 20,18 C20,18.5522847 19.5522847,19 19,19 L5,19 C4.44771525,19 4,18.5522847 4,18 C4,17.4477153 4.44771525,17 5,17 L19,17 Z M19,11 C19.5522847,11 20,11.4477153 20,12 C20,12.5522847 19.5522847,13 19,13 L5,13 C4.44771525,13 4,12.5522847 4,12 C4,11.4477153 4.44771525,11 5,11 L19,11 Z M19,5 C19.5522847,5 20,5.44771525 20,6 C20,6.55228475 19.5522847,7 19,7 L5,7 C4.44771525,7 4,6.55228475 4,6 C4,5.44771525 4.44771525,5 5,5 L19,5 Z"></path>
                            </svg>
                        </span>
                        <span style="margin: 0 0 5px 8px;">전체 카테고리</span>
                        <span role="img" rotate="0" style="margin-top: 5px;">
                            <svg width="25" height="25" viewBox="0 0 28 28" fill="currentColor" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                <polygon id="Triangle" transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) " points="12 9 18 15 6 15"></polygon>
                            </svg>
                        </span>
                        <!-- 드롭다운 메뉴 -->
                        <!-- <div class="css-dropdown">
                            <ul>
                                <li><a href="">국어</a></li>
                                <li><a href="">영어</a></li>
                                <li><a href="">수학</a></li>
                                <li><a href="">과탐</a></li>
                                <li><a href="">사탐</a></li>
                                <li><a href="">한국사</a></li>
                                <li><a href="">제2외국어</a></li>
                            </ul>
                        </div> -->
                    </button>
                </div>
                <div class="button">
                    <button class="css-menu-button">
                        <span>유저 랭킹</span>
                    </button>
                </div>
                <div class="button">
                    <button class="css-menu-button">
                        <span>인기글</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 헤더와 바디 사이 공간 -->
    <div class="container-divider"></div>
    <!-- 새소식 게시판 -->
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="공지사항">
                    <a href="">공지사항</a>
                </li>
                <li title="전체 공지">
                    <a href="">전체 공지</a>
                </li>
                <li>공지 상세</li>
            </ol>
        </nav>
        <div class="article-container">
            <!-- 왼쪽의 글 목록 -->
            <section class="article-sidebar">
                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title">최근 소식</h3>
                    <!-- 최신 10개 띄우기 -->
                    <ul>
                        <li>
                            <a href="" class="sidenav-item current-article">
                                <p class="sidenav-item-text">개인정보처리방침 개정 안내 (2021.11.19)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">개인정보처리방침 개정 안내 (2021.10.29)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">[업데이트] 모바일앱 기능 업데이트 (2021.07.26)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">[업데이트] iOS 앱 v13.0 서비스 종료 (2021.05.31)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">개인정보처리방침 개정 안내 (2021.06.01)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">서비스 이용약관 개정 안내 (2021.06.01)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">메시지 알림 보관 기간이 변경됩니다.</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">전문가 프로필 화면이 업데이트 되었습니다.</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">[업데이트] iOS 앱 v5.5.0 / 안드로이드 앱 v5.2.15 (2020.09.28)</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item">
                                <p class="sidenav-item-text">서비스 검색 기능이 업데이트 되었습니다.</p>
                            </a>
                        </li>
                    </ul>
                    <a href="" class="article-sidebar-item">더보기</a>
                </section> 
            </section>
            <!-- 글 -->
            <article class="article">
                <!-- 글 제목 -->
                <header class="article-header">
                    <h1 class="article-title">개인정보처리방침 개정 안내 (2021.11.19)</h1>
                </header>
                <!-- 글 내용 -->
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>&nbsp;</p>
                            <p class="wysiwyg-text-align-center">
                                <span>안녕하세요, 크몽입니다.</span>
                                <span>
                                    <br>
                                </span>
                                <span>
                                    <br>
                                </span>
                                <span>
                                    크몽을 이용해주시는 회원님들께 감사드리며,
                                </span>
                                <span>
                                    <br>
                                </span>
                                <span>
                                    개인정보 처리방침이 아래와 같이 개정될 예정임을 사전 안내해 드립니다.
                                </span>
                                <span>
                                    <br>
                                </span>
                                <span>
                                    <br>
                                </span>
                                자세한 정보는 하단에 기재해드린 내용을 참고해주시기 바랍니다.
                            </p>
                            <p class="wysiwyg-text-align-center">
                                &nbsp;
                            </p>
                            <h3>
                                <span class="wysiwyg-color-oragne80">
                                    <strong>❚ </strong>
                                </span>
                                <span class="wysiwyg-color-balck">
                                    <strong>공지 일자</strong>
                                </span>
                            </h3>
                            <p class="wysiwyg-text-align-left">
                              <strong>
                                <span class="wysiwyg-font-size-large">　◾ 2021년 11월 12일 (금)</span>
                              </strong>  
                            </p>
                            <p class="wysiwyg-text-align-left">&nbsp;</p>
                            
                        </div>
                        
                    </div>
                </section>
                <!-- 문의하기 버튼?? -->
                <footer>
                    <div class="article-footer"></div>
                    <div class="article-return-to-top">
                        <a href="#article-container">
                            맨 위로 돌아가기
                            <span class="icon-arrow-up"></span>
                        </a>
                    </div>
                </footer>
            </article>
        </div>
    </div>

    <!-- 푸터 추가 필요 -->
    <div class="css-footer">
        <div class="css-footer-info">
            <p class="css-info-text">
                웹개발 5조
                <span class="css-info-bar"> | </span>
                서울특별시 강남구 역삼동 736-7
                <span class="css-info-bar"> | </span>
                팀장 : 강민구
                <span class="css-info-bar"> | </span>
                사업자등록번호 : 613-81-65278
                <span class="css-info-bar"> | </span><br>
                통신판매업신고 : 2018-서울서초-2134
                <span class="css-info-bar"> | </span>
                유료직업소개사업등록번호 : 제2021-3210195-14-5-00035호
                <span class="css-info-bar"> | </span>
                고객센터 : 1544-6254
                <span class="css-info-bar"> | </span>
                kmg2331@gmail.com
            </p>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="header.js"></script>
<script src="notice.js"></script>
</html>